@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --shadow: #e6e6e6;
    --scrollbarBG: #5e5e5e;
    --thumbBG: #000000;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    box-shadow: 0 -100vh 0 100vh var(--shadow), 0 0 15px 5px black;
}

html,
body {
    scroll-behavior: smooth;
}

header {
    height: 30vh;
    padding: 3% 4%;
    background: rgb(16, 16, 16);
    color: white;

    .bckspaceLogUser {
        .logUser {
            text-align: right;
            font-size: 0.8rem;
        }

        .headImgContainer {
            text-align: center;

            svg {
                height: 30px;
            }
        }
    }

    nav {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;


        .navBurger {
            position: relative;
            cursor: pointer;
            height: 30px;
            width: 30px;

            span:nth-child(1) {
                user-select: none;
                content: "";
                position: absolute;
                top: 0;
                height: 3px;
                width: 32px;
                background: white;
                border-radius: 8px;
                transition: all 0.4s ease-in-out;
            }

            span:nth-child(2) {
                content: "";
                position: absolute;
                top: 8px;
                height: 3px;
                width: 32px;
                background: white;
                border-radius: 8px;
                transition: all 0.4s ease-in-out;
            }

            span:nth-child(3) {
                content: "";
                position: absolute;
                top: 16px;
                height: 3px;
                width: 32px;
                background: white;
                border-radius: 8px;
                transition: all 0.4s ease-in-out;
            }
        }

        .navBurger:hover,
        .navBurger:active {
            span:nth-child(1) {
                background: #0202f3;
            }

            span:nth-child(2) {
                width: 22px;
            }

        }

        .searchIcon {
            svg {
                margin-top: 2px;
                font-size: 1.33rem;
                cursor: pointer;
                color: white;
            }
        }

        .searchIcon:hover {
            svg {
                color: #0202f3;
            }
        }
    }

    .sidenav {
        height: 100%;
        /* 100% Full-height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 3;
        /* Stay on top */
        top: 0;
        /* Stay at the top */
        left: 0;
        background-color: #111;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

}

main {
    .carouselIndicators {


        top: 125%;

        li {
            background: black;
            color: black;
            border-radius: 50%;
        }
    }

    .mainContent {
        height: 80vh;


        .gliderItem {
            // background: url("../ASSETS/Layer\ 11.png");
            min-height: 80vh;
            background-size: cover;

            img {
                height: 80vh;
                width: 100%;
            }
        }

        .glider-dots {
            position: absolute;
            top: 110%;
            left: 45%;
            outline: none;

            button.active {
                background: rgb(0, 0, 0);
                outline: none;
            }

            button {
                background: rgb(221, 221, 221);
                outline: none;
                transition: all 0.3s ease;
            }

            button:hover {
                background: rgb(155, 155, 155);

            }
        }

        .glider-next {
            right: 50px;
            transition: all 0.5s ease;
            outline: none;

            svg {
                color: #0202f3;
            }
        }

        .glider-next:hover {
            transform: scale(1.08);
        }

        .glider-prev {
            left: 50px;
            transition: all 0.5s ease;
            outline: none;

            svg {
                color: #0202f3;
            }
        }

        .glider-prev:hover {
            transform: scale(1.08);
        }


    }

    .copDropBtns {
        min-height: 20vh;
        background: rgb(255, 255, 255);
        padding: 3% 4%;

        .copDropContainer {
            margin: 0 auto;
            width: 46%;
            display: flex;
            justify-content: space-between;

            button {
                position: relative;
                outline: none;
                border: 1.6px solid #676767;
                background: white;
                color: #3d3d3d;
                height: 45px;
                width: 170px;
                font-weight: 500;

                span {
                    position: absolute;
                    z-index: 2;
                    top: 25%;
                    left: 30%;

                }
            }

            button::after {
                content: "";
                position: absolute;
                z-index: 0;
                height: 0%;
                width: 100%;
                top: 0;
                left: 0;
                background: black;
                transition: all 0.3s ease-in-out;
            }

            button:hover {
                color: white;
            }

            button:hover::after {
                height: 100%;
            }
        }

    }

    .popularBrand {
        min-height: 30vh;
        padding: 2% 8%;

        .popuparaBtn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 95%;

            .popuPara {
                font-size: 1.2rem;
                font-weight: 500;
            }

            .popuBtn {
                button {
                    position: relative;
                    outline: none;
                    border: 1.6px solid #ebebeb;
                    background: white;
                    color: black;
                    height: 35px;
                    width: 120px;
                    font-weight: 500;
                    transition: all 0.3s ease;

                    span {
                        position: absolute;
                        z-index: 2;
                        top: 16%;
                        left: 30%;

                    }
                }

                button::after {
                    content: "";
                    position: absolute;
                    z-index: 0;
                    height: 100%;
                    width: 0%;
                    top: 0;
                    left: 0;
                    background: black;
                    transition: all 0.5s ease-in-out;
                }

                button:hover {
                    color: white;
                }

                button:hover::after {
                    width: 100%;
                }

            }
        }

        .brandsList {
            padding: 40px 10px;
            display: flex;
            justify-content: space-evenly;

            .brandCircle {
                height: 145px;
                width: 145px;
                margin-right: 40px;
                border-radius: 50%;
                border: 1px solid rgb(155, 155, 155);
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    transform: translate(2px, 3px);
                    height: 58%;
                    width: 58%;
                    transition: all 0.5s ease;
                }
            }

            .brandCircle:hover svg {
                transform: scale(1.1);


            }

            .bgucci svg {
                transform: translate(-1px, -1px);
            }

            .bBalan svg {
                transform: translate(-1px, -1px);
            }

            .bSupreme svg {
                transform: translate(-1px, -1px);
            }
        }

        .mobileDownButton {
            display: none;
        }
    }

    .nikeShoeBanner {
        height: 100vh;

        .imgContainer {
            height: 100%;
            background: url("../ASSETS/Layer\ 13.png");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .top20fire {
        min-height: 80vh;

        .top20Container {
            padding: 5% 4%;

            .topParaBtn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 8%;

                .top20 {
                    font-size: 1.4rem;
                    font-weight: 500;
                }

                .seeAll {
                    position: relative;
                    outline: none;
                    border: 1.6px solid #858585;
                    background: white;
                    color: black;
                    height: 35px;
                    width: 120px;
                    font-weight: 500;
                    transition: all 0.3s ease;

                    span {
                        position: absolute;
                        z-index: 2;
                        top: 16%;
                        left: 30%;

                    }
                }

                button::after {
                    content: "";
                    position: absolute;
                    z-index: 0;
                    height: 100%;
                    width: 0%;
                    top: 0;
                    left: 0;
                    background: black;
                    transition: all 0.5s ease-in-out;
                }

                button:hover {
                    color: white;
                }

                button:hover::after {
                    width: 100%;
                }



            }

            .top20Carousel {
                margin-top: 20px;

                .swiper-container {
                    width: 100%;
                    height: 100%;
                    padding: 0 8%;
                }

                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;

                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;

                    .carouselCard {
                        height: 20rem;
                        width: 28rem;


                        .cardBody {
                            background: #ebebeb;

                            .addLikeIco {
                                padding: 3%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                svg {
                                    transition: all 0.8s ease;
                                    cursor: pointer;
                                }

                                .plusIco:hover {
                                    color: rgb(50, 212, 50);
                                    transform: rotate(180deg);
                                }

                                .heartIco:hover {
                                    color: rgb(194, 31, 72);
                                    transform: scale(1.08);
                                }
                            }

                            .cardImage {
                                height: 10rem;
                                width: 15rem;
                                margin: 20% auto 0 auto;

                                img {
                                    height: 100%;
                                    width: 100%;
                                    transition: all 0.5s ease;
                                }
                            }

                            .cardImage:hover img {
                                transform: scale(1.1);

                            }
                        }

                        .itemName {
                            font-size: 0.8rem;
                            padding: 20px 0;
                        }
                    }
                }
            }


        }
    }

    .ourRecomendation {
        .recomContainer {
            padding: 5% 4%;

            .topParaBtn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 8%;

                .recom {
                    font-size: 1.4rem;
                    font-weight: 500;
                }

                .seeAll {
                    position: relative;
                    outline: none;
                    border: 1.6px solid #909090;
                    background: white;
                    color: #767676;
                    height: 35px;
                    width: 120px;
                    font-weight: 500;
                    transition: all 0.3s ease;

                    span {
                        position: absolute;
                        z-index: 2;
                        top: 16%;
                        left: 30%;

                    }
                }

                button::after {
                    content: "";
                    position: absolute;
                    z-index: 0;
                    height: 100%;
                    width: 0%;
                    top: 0;
                    left: 0;
                    background: black;
                    transition: all 0.5s ease-in-out;
                }

                button:hover {
                    color: white;
                }

                button:hover::after {
                    width: 100%;
                }

            }

            .recomCarousel {
                margin-top: 20px;

                .swiper-container {
                    width: 100%;
                    height: 100%;
                    padding: 0 8%;
                }

                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;

                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;

                    .carouselCard {
                        height: 20rem;
                        width: 28rem;


                        .cardBody {
                            background: #ebebeb;

                            .addLikeIco {
                                padding: 3%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                svg {
                                    transition: all 0.8s ease;
                                    cursor: pointer;
                                }

                                .plusIco:hover {
                                    color: rgb(50, 212, 50);
                                    transform: rotate(180deg);
                                }

                                .heartIco:hover {
                                    color: rgb(194, 31, 72);
                                    transform: scale(1.08);
                                }
                            }

                            .cardImage {
                                height: 10rem;
                                width: 15rem;
                                margin: 20% auto 0 auto;

                                img {
                                    height: 100%;
                                    width: 100%;
                                    transition: all 0.5s ease;
                                }
                            }

                            .cardImage:hover img {
                                transform: scale(1.1);

                            }
                        }

                        .itemName {
                            font-size: 0.8rem;
                            padding: 20px 0;
                        }
                    }
                }
            }


        }
    }

    .instagramGallery {
        background: rgb(185, 185, 185);
        min-height: 50vh;
        position: relative;

        .yoUpBtn {
            cursor: pointer;
            position: absolute;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background: rgb(19, 17, 17);
            z-index: 3;
            right: 30px;
            top: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: blue;
            font-size: 2rem;
            transition: all 0.5s ease;
        }

        .yoUpBtn:hover {
            transform: scale(1.1);
        }

        .headGallery {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2% 6%;

            .instPara {
                font-size: 1.3rem;
                font-weight: 500;
            }

            .instId {

                a {
                    color: #0301fd;
                    font-size: 1rem;
                    font-weight: 500;
                    text-decoration: none;
                    transition: all 0.5s ease;
                }

                a:hover {
                    color: rgb(153, 7, 153);

                }
            }
        }

        .galleryContainer {
            display: flex;
            overflow: hidden;

            .gallImg {
                height: 330px;
                width: 350px;
                margin-right: 6px;

                img {
                    height: 100%;
                    width: 100%;
                    transition: all 0.5s ease;
                }

                img:hover {

                    transform: scale(1.08);


                }
            }
        }
    }
}

footer {
    background: #1b1b1b;
    min-height: 20vh;

    .footerContainer {
        text-align: center;
        padding: 3% 3% 1% 3%;

        .footLinks {
            display: flex;
            justify-content: center;

            a {
                text-decoration: none;
                color: rgb(184, 184, 184);
                font-size: 0.9rem;

                span {
                    margin: 0 10px;
                }
            }
        }

        .footSocial {
            padding: 20px 0;

            a {
                color: rgb(231, 231, 231);
                margin-right: 10px;

                svg {
                    font-size: 1.9rem;
                }
            }

        }

        .footRights {
            font-weight: 500;
            color: rgb(77, 77, 77);
        }
    }
}

@media screen and (max-height: 750px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 750px) {

    .logUser {
        display: none;
        opacity: 0;
    }

    main {

        .mainContent {
            height: 80vh;

            .gliderItem {
                // background: url("../ASSETS/Layer\ 11.png");
                min-height: 80vh;
                background-size: cover;

                img {
                    height: 80vh;
                    width: 100%;
                }
            }

            .glider-dots {
                position: absolute;
                top: 108%;
                left: 40%;
                outline: none;
            }
        }

        .copDropBtns {
            min-height: 35vh;
            background: rgb(255, 255, 255);
            padding: 7% 4%;

            .copDropContainer {
                margin: 80px auto;
                width: 80%;
                display: flex;
                justify-content: space-between;

                button {
                    margin-top: 40px;
                    position: relative;
                    outline: none;
                    border: 1.6px solid black;
                    background: white;
                    color: black;
                    height: 45px;
                    width: 170px;
                    font-weight: 500;

                    span {
                        position: absolute;
                        z-index: 2;
                        top: 25%;
                        left: 27%;

                    }
                }

            }

        }

        .popularBrand {
            min-height: 45vh;
            padding: 2% 8%;

            .popuparaBtn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 95%;

                .popuBtn {
                    display: none;
                }
            }

            .mobileDownButton {
                text-align: center;

                button {
                    position: relative;
                    outline: none;
                    border: 1.6px solid rgb(3, 3, 3);
                    background: white;
                    color: black;
                    height: 35px;
                    width: 120px;
                    font-weight: 500;
                    transition: all 0.3s ease;

                    span {
                        position: absolute;
                        z-index: 2;
                        top: 16%;
                        left: 30%;

                    }
                }

                button::after {
                    content: "";
                    position: absolute;
                    z-index: 0;
                    height: 100%;
                    width: 0%;
                    top: 0;
                    left: 0;
                    background: black;
                    transition: all 0.5s ease-in-out;
                }

                button:hover {
                    color: white;
                }

                button:hover::after {
                    width: 100%;
                }
            }

            .brandsList {
                .brandCircle {
                    height: 100px;
                    width: 100px;
                    margin-right: 20px;
                    border: 1px solid rgb(177, 177, 177);
                }


                .bgucci svg {
                    transform: translate(1px, 1px);
                }

                .bBalan svg {
                    transform: translate(1px, 1px);
                }

                .bSupreme svg {
                    transform: translate(0px, 1px);
                }

                .smallScreenNo {
                    display: none;
                }
            }
        }

        .nikeShoeBanner {
            height: 50vh;

            .imgContainer {
                height: 100%;
                background: url("../ASSETS/Layer\ 13.png");
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        .top20fire {
            min-height: 50vh;

            .top20Container {
                padding: 5% 4%;

                .topParaBtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 8%;



                    .seeAll {
                        display: none;
                    }

                }

            }
        }

        .ourRecomendation {
            min-height: 70vh;
            overflow-y: visible;

            .recomContainer {
                padding: 5% 4%;

                .topParaBtn {
                    justify-content: center;

                    .seeAll {
                        display: none;
                    }

                }

                .recomCarousel {
                    margin-top: 20px;



                    .swiper-slide {


                        .carouselCard {
                            height: 20rem;
                            width: 28rem;

                            .itemName {
                                font-size: 0.8rem;
                                padding: 20px 0 0 0;
                            }
                        }
                    }
                }


            }
        }

        .instagramGallery {
            background: rgb(185, 185, 185);
            min-height: 60vh;

            .yoUpBtn {
                cursor: pointer;
                position: absolute;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                background: rgb(19, 17, 17);
                z-index: 3;
                right: 30px;
                top: 19%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: blue;
                font-size: 2rem;
                transition: all 0.5s ease;
            }



            .headGallery {
                display: flex;
                flex-direction: column;


                .instPara {
                    margin: 15px 0 10px 0;
                    font-weight: 500;
                }

                .instId {
                    margin: 15px 0;

                    a {

                        font-size: 0.85rem;

                    }


                }
            }

            .galleryContainer {
                display: flex;
                overflow: hidden;

                .gallImg {
                    height: 330px;
                    width: 350px;
                    margin-right: 4px;

                    img {
                        height: 100%;
                        width: 100%;
                        transition: all 0.5s ease;
                    }

                    img:hover {

                        transform: scale(1.08);


                    }
                }

                .gallImg:nth-last-child(1) {
                    display: none;
                }

                .gallImg:nth-last-child(2) {
                    display: none;
                }
            }
        }
    }

    footer {
        background: black;
        min-height: 60vh;

        .footerContainer {
            text-align: center;
            padding: 3% 3% 1% 3%;

            .footLinks {
                padding: 5%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                .mobileWrap {
                    margin-bottom: 35px;
                }

                a {
                    text-decoration: none;
                    color: rgb(184, 184, 184);
                    font-size: 0.9rem;

                    span {
                        margin: 0 10px;
                    }
                }
            }

            .footSocial {
                padding: 20px 0;

                a {
                    color: rgb(231, 231, 231);
                    margin-right: 10px;

                    svg {
                        font-size: 1.9rem;
                    }
                }

            }

            .footRights {
                padding: 20px 0;
                font-weight: 500;
                color: rgb(77, 77, 77);
            }
        }
    }




}